footer {
    background-color: var(--color-main);
    color: var(--color-dark);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    margin-inline: 2.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}