* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

